/* styles.css */
h1{
    color: crimson;
    background-color: aqua;
}
h1{
    font-size: 80px;
}
h1{
    text-align: center;
}
img{
    height: auto;
    Width: 700px;
}
body{
    background-color: aquamarine;
}